* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #373277, black);
    background-size: auto 100vh;
    font-family: Trebuchet MS;
    height: 100vh;
    font-size: 10px;
}

/* Se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background: #315885;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline;*/
    background-color: #35478F;
}

.site-subtitle,
.site-title {
    color: lavender;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

.site-title {
    font-size: 8em;
}

.site-subtitle {
    font-size: 4em;
    font-style: italic;
    line-height: 1.8em;
}

.competencias {
    padding: 1.5em;
    height: 100vh;
}

.competencias h2 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3em;
    color: lavender;
    margin-bottom: 0.3em;
}

.competencias .grid {
    display: grid;
    color: ghostwhite;
    gap: 1em;
}

@media (min-width: 560px) {
    .competencias .grid {
        grid-template-columns: repeat(2, 180px);
    }
}

@media (min-width: 880px) {
    .competencias .grid {
        grid-template-columns: repeat(3, 180px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 48px - 8em);
    }
}

@media (min-width: 1200px) {
    .competencias .grid {
        grid-template-columns: repeat(4, 180px);
        justify-content: center;
    }
}

.competencias figure {
    text-align: center;
}

.img-competencias {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .img-competencias {
        height: 10em;
        width: auto;
    }
}