* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* https://medium.com/@gabrielqn/criando-scroll-suave-para-links-interno-utilizando-apenas-css-33ef0877faf6 */
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-size: auto 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    height: 100vh;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

.menu {
    background: #201D45;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    transition: background, color, 0.5s;
}

@media (min-width: 375px) {
    .menu a {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) {
    .menu a {
        padding: 10px 45px;
    }
}

@media(min-width: 1200px){
    .menu a {
        padding: 10px 100px;
    }
}

.menu a:hover {
    background: lavender;
    color: #201D45;
}

.nome-header,
.cargo-header, 
.contatos-header {
    color: #373277;
    text-align: center;
}

.nome-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7em;
}

.cargo-header {
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
}

.simula-textbox {
    background-color: ghostwhite;
    padding: 20px;
    margin: 0;
}

.contatos-header a{
    color: ghostwhite;
    font-size: 2em;
    line-height: 6em;
    transition: text-shadow, 0.5s;
}

.contatos-header .icons {
    text-align: center;
}

.contatos-header a:active,
.contatos-header a:hover {
    text-shadow: 0px 0px 50px rgba(145, 141, 196);
}

/* https://willianjusten.com.br/criando-uma-animacao-de-digitacao-com-css/ */
.typing-animation {
    animation: blinkCursor 500ms steps(50) infinite normal, typing 1s steps(50) 1s normal both;
}

.line {
    /* Animação de digitação */
    border-right: 2px solid rgba(105, 105, 105, .75);
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .line {
        margin-left: 0.7em;
        margin-right: 1em;
    }
}

@media (min-width: 1200px) {
    .line {
        margin-left: 2em;
        margin-right: 1em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(105, 105, 105, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 8.4em;
    }
}

.sobre h2,
.contato h2,
.competencias h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    color: lavender;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.sobre,
.contato,
.competencias {
    padding: 1.5em;
    min-height: 100vh;
}

@media (min-width: 1200px){
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }   
}

p a {
    color: MediumPurple;
}

p a:hover {
    background-color: MediumPurple;
    color: lavender;
}

.sobre p {
    color: ghostwhite;
    margin-bottom: 1.4em;
    text-align: justify;
    text-indent: 1.5em;
}

.sobre .avatar {
    border-radius: 10px;
    float: right;
    margin-left: 1em;
    width: 500px;
}
























.competencias .grid {
    display: grid;
    color: ghostwhite;
    gap: 3em;
}

@media (min-width: 560px) {
    .competencias .grid {
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 10em - 180px);
    }
}

@media (min-width: 880px) {
    .competencias .grid {
        grid-template-columns: repeat(4, 180px);
        justify-content: center;
        align-content: center;
    }
}

.competencias figure {
    text-align: center;
}

.img-competencias {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform 500ms;
}

@media (min-width: 1200px) {
    .img-competencias {
        height: 10em;
        width: auto;
    }
}

.flipcard {
    height: 180px;
    perspective: 1000px;
}

.flipcard:hover .card{
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-back {
    height: 180px;
    transform: rotateY(180deg);
    width: 100%;
}

