* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #373277, black);
    background-size: auto 100vh;
    font-family: Trebuchet MS;
    height: 100vh;
    font-size: 10px;
}

/* Se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background: #315885;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background, color, 0.5s;
}

.menu a:hover {
    background: ghostwhite;
    color: #315885;
}

.titulo {
    opacity: 0;
    animation: linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    100% {
        opacity: 1;
    }
}

a {
    color: ghostwhite;
    text-decoration: none;
}

p a {
    color: MediumPurple;
}

p a:hover {
    background-color: MediumPurple;
    color: lavender;
}

.site-subtitle,
.site-title {
    color: lavender;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

.site-title {
    font-size: 8em;
}

.site-subtitle {
    font-size: 4em;
    font-style: italic;
    line-height: 1.8em;
}

.sobre,
.contato,
.competencias {
    padding: 1.5em;
    min-height: 100vh;
}

@media (min-width: 1200px){
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }   
}

.sobre h2,
.contato h2,
.competencias h2 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3em;
    color: lavender;
    margin-bottom: 0.3em;
}

.sobre p {
    color: ghostwhite;
    margin-bottom: 1.4em;
    text-align: justify;
    text-indent: 1.5em;
}

.sobre .avatar {
    border-radius: 10px;
    float: right;
    margin-left: 1em;
    width: 500px;
}

.competencias .grid {
    display: grid;
    color: ghostwhite;
    gap: 3em;
}

@media (min-width: 560px) {
    .competencias .grid {
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 10em - 180px);
    }
}

@media (min-width: 880px) {
    .competencias .grid {
        grid-template-columns: repeat(4, 180px);
        justify-content: center;
        align-content: center;
    }
}

.competencias figure {
    text-align: center;
}

.img-competencias {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform 500ms;
}

/*.img-competencias:hover {
    transform: scale(1.2);
}*/

@media (min-width: 1200px) {
    .img-competencias {
        height: 10em;
        width: auto;
    }
}

.flipcard {
    height: 180px;
    perspective: 1000px;
}

.flipcard:hover .card{
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-back {
    height: 180px;
    transform: rotateY(180deg);
    width: 100%;
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: ghostwhite;
    font-size: 7em;
    transition: text-shadow, 0.5s;
}

.contato a:active,
.contato a:hover {
    text-shadow: 0px 0px 50px rgba(145, 141, 196, 0.8);
}