* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #FF93D9, white);
    background-size: auto 100vh;
    font-family: Trebuchet MS;
    height: 100vh;
    font-size: 10px;
}

/* Se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 12px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 14px;
    }
}

header {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.resumos-title,
.resumos-subtitle {
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
}

.resumos-title {
    color: MediumVioletRed;
    font-size: 6em;
}

.resumos-subtitle {
    color: Maroon;
    font-size: 2em;
}

.menu {
    background: #E87B8B;
    width: 100vw;
    font-size: 16px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

a:hover {
    background-color: #FF9387;
}